*.bsc
*.pdb
*.obj
*.sbr
*.ilk
*.tlog
*.idb
*.sdf
*.filters
Poker/Debug/Poker.log
Poker/Debug/Poker.lib
HoldemPokerStats/Debug/HoldemPokerStats.exe
HoldemPokerStats/Debug/HoldemPokerStats.log
HoldemPokerStats/HoldemPokerStats.opensdf
HoldemPokerStats/HoldemPokerStats.v12.suo
Poker/Poker.vcxproj.filters
PokerTester/Debug/PokerTester.exe
*.obj